    html {
      height: 100%;
      background-color: #B8E8D4;
      font-family: Helvetica;
    }
    body {
       height: 100%;
       text-align: center;
    }
    header {
        text-align: center;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    nav {
        line-height:;
        background-color:;
        width:125px;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: #E2B8F9;
        font-style: normal;
        text-decoration: none;
    }
    footer {
        text-align: center;
    }
